version: "3.9"

services:
  api:
    build:
      context: ./backend
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app

  worker:
    build:
      context: ./backend
    env_file:
      - ./.env
    depends_on:
      - redis
      - db
    command: celery -A celery_app.celery_app worker --loglevel=INFO
    volumes:
      - ./backend:/app

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: